{% extends "basicApp/base.html" %}

    {% block add_here %}
        <div class="jumbotron container">
            <h1>Please Login</h1>
            <form action="{% url 'basicApp:login' %}" method="POST">
                {% csrf_token %}
                <label for="username">Username :</label>
                <input type="text" name="username" placeholder="Enter your Username">
                <label for="password">Password :</label>
                <input type="password" name="password" placeholder="Enter Password">
                <input type="submit" value="Login">

            </form>

        </div>


{% endblock %}